wheel
torch==2.1.2+cu118
torchvision==0.16.2
torchaudio==2.1.2 
tqdm
pytorch_lightning
black
ruff
hydra-core
jaxtyping
beartype
wandb
einops
colorama
scikit-image
colorspacious
matplotlib
moviepy
imageio
timm
dacite
lpips
e3nn
plyfile
tabulate
svg.py
opencv-python==4.6.0.66
sk-video
git+https://github.com/dcharatan/diff-gaussian-rasterization-modified